@media (max-width: 767px) {
  .categories {
    display: none;
    font-size: 10px;
  }
}
.categories {
  .mainCategory {
    display: inline-flex;
    animation: fade-in 2s;
    cursor: pointer;
    ul {
      margin: 0 auto;
      padding: 0;
    }
    .mainListBox {
      list-style: none;
      .mainList {
        display: flex;
        font-weight: 900;
        justify-content: space-between;
      }
    }
  }
  .categoriesBox {
    display: contents;

    .mainCategory {
      .mainListBox {
        min-width: 13vw;

        div {
          margin-top: 5px;
          white-space: nowrap;
        }
        .mainList {
          display: flex;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 10px;
        }
      }
    }
  }
  .mainCategoriesBox {
    padding: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .mainTitle {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      font-weight: 900;
      span {
        margin-left: 5px;
      }
      div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 70px;
      }
    }
  }
  .mask {
    overflow-y: hidden;
    animation: mask-slide 2s;
    animation-fill-mode: forwards;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mask-slide {
  0% {
    height: 100px;
  }
  100% {
    height: 240px;
  }
}
