@media (min-width: 768px) {
  .dropBar ul {
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;

    li:first-child {
      display: none;
    }

    li {
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        border-bottom: 2px solid #3366ff;
      }
    }
  }
}

@media (max-width: 767px) {
  .dropBar ul {
    li {
      display: none;
    }

    li:first-child,
    li:nth-child(2),
    li:nth-child(3) {
      display: block;
      cursor: pointer;
      margin-right: 10px;
    }
  }
}
.dropBar {
  margin: 16px 0;
}
.dropBar ul {
  display: flex;
  list-style: none;
  padding: 0;
}
