.stack {
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
  align-items: center;
  color: #333;

  .service {
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .stack {
    white-space: nowrap;
    font-size: calc(0.2vw + 0.7vh + 1vmin);
    a,
    div {
      cursor: pointer;
    }
    .searchIconDown {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .stack {
    margin: 6px;
    white-space: nowrap;
    width: 100%;
    min-width: 70%;
    height: 80%;
    a {
      cursor: pointer;
    }
    .position {
      display: flex;
      flex-direction: column;
    }
    .iconBox {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      .searchIconDown {
        margin: 10px;
      }
    }
    .searchIconUp,
    .login,
    .service {
      display: none;
    }
    .signup {
      padding-bottom: 15px;
      border: 1px solid #3366ff;
      margin: 0;
      color: #3366ff;
      padding: 5px 30px;
      border-radius: 15px;
      font-size: 14px;
    }
  }
}
