.stack {
  //border: 1px solid blue;
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  .stack {
    border: 1px solid blue;
  }
}
@media (max-width: 767px) {
  .stack {
    border: 1px solid orange;
  }
}
