@media (min-width: 768px) {
  .navigation {
    .logo {
      img {
        margin: 0 auto;
      }
    }
    .nav-i {
      display: flex;
      padding: 0 30px;
      .nav-i-a {
        display: flex;
        flex: 5;

        > :first-child {
          flex: 1;
        }

        > :nth-child(2) {
          flex: 3;
        }
      }

      .nav-i-b {
        display: flex;
        justify-content: center;
        align-items: center;
        display: -ms-inline-grid;
        display: -moz-inline-grid;
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  .navigation {
    .nav-i {
      display: flex;
      padding: 0 30px;

      .nav-i-a {
        flex: 4;
        display: block;
      }

      .nav-i-b {
        flex: 2;
      }
    }
  }
}
.font-link {
  font-family: 'Nanum Gothic Coding', monospace;
}
.navigation {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 5%);
  z-index: 100;
  background-color: #fff;

  .logo {
    margin: 6px 0;
    img {
      width: 150px;
      display: block;
    }
  }

  .nav-ii {
    padding: 0 30px;
  }
}
