@media (min-width: 768px) {
  .navigation {
    .logo {
      img {
        margin: 0 auto;
      }
    }
    .nav-i {
      display: flex;
      padding: 0 30px;
      .nav-i-a {
        display: flex;
        flex: 5;

        > :first-child {
          flex: 1;
        }

        > :nth-child(2) {
          flex: 3;
        }
      }

      .nav-i-b {
        display: flex;
        justify-content: center;
        align-items: center;
        display: -ms-inline-grid;
        display: -moz-inline-grid;
      }
    }
  }
}

@media (max-width: 767px) {
  .navigation {
    .nav-i {
      display: flex;
      padding: 0 30px;

      .nav-i-a {
        flex: 4;
        display: block;
      }

      .nav-i-b {
        flex: 2;
      }
    }
  }
}

.navigation {
  border: 1px solid black;

  .logo {
    border: 1px solid green;
    margin: 6px 0;
    img {
      width: 150px;
      display: block;
      border: 1px solid blue;
    }
  }

  .nav-ii {
    padding: 0 30px;
  }
}
